body {
	font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
}
.container-fluid {
	width : 60%;
	margin-right: auto;
	margin-left: auto;
}
#list-group-title{
	background-color :#D3D3D3;
}
.list-group-item-selected{
	background-color :#D3D3D3;
}
.list-group-item-text {
	width : 100%;
}

.list-group-item-text td{
	width : 20%;
}
.list-group-item-text h3{
	color: black;
	margin-top : auto;
	margin-bottom : auto;
}
table img{
	width : 100%;
}

.show-apt-detail{
	width : 100%;
}

.apt-detail-img{
	width:100%;
}
.apt-detail-img-td{
	width:60%;
}
.apt-recom td{
	width : 20%;
}

.apt-recom img{
	margin-left : auto;
	margin-right:auto;
	margin-top  : auto;
	margin-bottom  : auto;
}
.apt-recom-name-td{
	text-align:center;
}
.show-img-td{
	width:50%;
}

.show-apt-price{
	padding-top:10%;
	bottom:0px;
}

.show-apt-price p{
	text-align : right;
	bottom:0;
}

p.ng-binding {
	margin: 0;
	font-size: 20px;
	font-weight: bold;
}

td p.ng-binding {
	font-size: 12px;
	font-weight: normal;
	color: #A9A9A9;
}

.row-fluid .list-group {
	background-color: #ececec;
}
#list-group-title {
    background-color: #ececec;
}

.list-group-item {
    background-color: #ececec;
    border: 0px solid #DDDDDD;
    display: block;
    padding: 5px 12px 5px 8px;
}

table.list-group-item-text {
    background-color: #ffffff;
}
table.list-group-item-text:hover {
    background-color: #cfcfcf;
}
table.list-group-item-text td {
    padding-right: 10px;
}
.show-apt-name h3{
	font-size: 28px;
	font-weight: bold;
}

ul.pagination li span {
    background-color: #ececec;
    border: 0px solid #dddddd;
    font-size: 16px;
}

.modal {
    position: fixed;
    top: 10%;
    left: 10%;
    width: 80%;
    margin-left: 0px;
}

.modal-left {
	width: 50%;
	float:left;
}
.modal-body{
	padding: 0px;
	padding-left: 10px;
}
.modal-left p.ng-binding {
    margin: 0;
    font-size: 16px;
    font-weight: normal;
}
.modal-right {
	width: 49%;
	float:right;
}



